aws_region           = ""
project_name         = ""
google_client_id     = ""
google_client_secret = ""
google_oauth_file    = ""     
lastfm_api_key       = ""
lastfm_shared_secret = ""
lastfm_username      = ""
lastfm_password_hash = ""